<h2 class="text-3xl">Products</h2>
<div *ngFor='let product of products'>
  <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
  <h3>{{product.name}}</h3>
  <img src="https://placeimg.com/640/360/tech" alt="{{product.name}}"/>
  </a>
  <p *ngIf="product.description">
    Description: {{product.description}}
    </p>
    <div class="flex flex-wrap my-4">
    <button (click)="share()" class="mr-2 ">
      Share
    </button>
    <app-product-alerts 
    [product]="product"
    (notify)="onNotify()">
    </app-product-alerts>
    </div>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->